body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("https://img.freepik.com/premium-photo/poker-table-background-green-color_1108314-10092.jpg");
    background-size: cover;
    color: white;
    font-weight: bold;
}

h1{
    color: goldenrod;
    margin-top: 50px;
    font-size: 50px;
}

#message-el{
    font-style: italic;
}

p{
    font-size: 30px;
}
button{
    width: 280px;
    height: 50px;
    color: rgb(1, 91, 1);
    font-size: 16px;
    font-weight: bolder;
    padding: 3px 10px;
    background: goldenrod;
    border-style: none;
    border-radius: 3px;
}
button:hover{
    background-color: burlywood;
    border: 2px solid black;
}
.btn{
    margin-top: 5px;
}